<div class="logs-wrapper">
  <div class="logs-title">{{ "title" | label : "logs" }}</div>
  @if (logs$ | async; as logs) { @if (logs.length > 0) {
  <table>
    <thead>
      <tr>
        <th>{{ "id" | label : "logs" }}</th>
        <th>{{ "action" | label : "logs" }}</th>
        <th>{{ "resource" | label : "logs" }}</th>
        <th>{{ "date" | label : "logs" }}</th>
        <th>{{ "user" | label : "logs" }}</th>
        <th>{{ "email" | label : "logs" }}</th>
      </tr>
    </thead>
    <tbody>
      @for (log of logs; track log.id) {
      <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.action }}</td>
        <td>{{ log.resource }}</td>
        <td>{{ log.createdAt | date : "short" }}</td>
        <td>{{ log.user?.name }}</td>
        <td>{{ log.user?.email }}</td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <p>{{ "noLogs" | label : "logs" }}</p>
  } }
</div>
